[user]
	name = Nikita Koptelov
	email = nikita.koptelov@lazada.com
[alias]
	ci = commit
	br = branch
	co = checkout
	shorty = status --short --branch
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[core]
	excludesfile = /home/u/.gitignore_global
