[user]
	name = Koptelov Nikita
	email = nick@koptelov.me
[alias]
	ci = commit
	br = branch
	co = checkout
	shorty = status --short --branch
	hist = log --pretty=format:\"%C(yellow)%h%C(reset) %C(green)%ad%C(reset) %C(red)|%C(reset) %s %C(bold blue)[%an]%C(reset)%C(yellow)%d%C(reset)\" --graph --date=short
	grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
  dbr = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	showtool = "!f() { git difftool $1^ $1; }; f"
  added = difftool --cached
[core]
	excludesfile = /home/u/.gitignore_global
[init]
	templatedir = ~/.git-templates
[merge]
	conflictstyle = diff3
[push]
	default = current
	followTags = true
[transfer]
  fsckobjects = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[url "git@gitlab.com:"]
	    insteadOf = https://gitlab.com/
