vim/.vim/bundle
vim/.vim/undo/*
vim/.vim/backup/*
vim/.vim/plugs
vim/.vim/.netrwhist

weechat/.weechat/irc.conf
weechat/.weechat/logs
weechat/.weechat/*fifo*
weechat/.weechat/weechat.log

zsh/.zsh/compcache/*
zsh-internal/cache
zsh/.zsh/files/.zcompdump

zsh/.zsh/config/local-*

bin/.bin/allure
bin/.bin/soaconsole
/doomemacs/.doom.d/+local.el
/nnn/.config/nnn/mounts/
/doomemacs/.doom.d/+excorporate.el
/doomemacs/.doom.d/+org-ejira.el
