vim/.vim/bundle
vim/.vim/undo/*
vim/.vim/backup/*
vim/.vim/plugs
vim/.vim/.netrwhist
./godirsrc
weechat/irc.conf
weechat/logs
weechat/*fifo*
weechat/weechat.log
zsh/.zsh/compcache/*
zsh/.zsh/files/.compcache
zsh/.zsh/files/.zcompdump

bin/.bin/allure
bin/.bin/soaconsole
