[Unit]
Description=SSH tunnel to bastion

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/ssh -vTND 5020 -F %h/.ssh/config -N bastion

[Install]
WantedBy=default.target
