[Desktop Entry]
Type=Application
Version=1.0
Name=RQuickShare
Comment=RQuickSharestartup script
Exec=/usr/bin/rquickshare 
StartupNotify=false
Terminal=false